/* ==================== Classes ==================== */

/* Gros boutons de sélection d'un menu */
.btn-principal {

    /* GRADIENT */    
    -fx-background-color: #ffffff;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-border-width: 4px;
    /*-fx-border-color: rgb(226, 222, 0);*/
    -fx-border-color: rgb(226, 185, 0);
    -fx-effect: innershadow(gaussian, rgb(255, 227, 70), 28, 0.5, 0, 0);
    /*-fx-effect: dropshadow(three-pass-box, rgb(248, 255, 173),60, 0, 0, 0);*/
}
.btn-principal .text{
    -fx-font-size: 26px;
    -fx-font-weight: bold;
    -fx-fill: rgb(255, 255, 255);
    -fx-stroke: #85690e;
    -fx-stroke-width: 1px;
    -fx-effect: dropshadow(three-pass-box, rgb(233, 190, 0), 2, 0.7, 2, 2);
    

}

/* Style du bouton lorsqu'il est survolé */
.btn-principal:hover {
    -fx-background-color: #ffee57;
}

/* Style du bouton lorsqu'il est pressé */
.btn-principal:pressed {
    -fx-background-color: #fffb00;
}


/* Boutons de sélection de niveau */
.btn-niveau {}


/* Boutons d'accès aux scores (trophée) */
.btn-trophee {
    -fx-background-color: transparent;
    -fx-effect: dropshadow(three-pass-box, rgb(0, 0, 0), 4, 0.2, 0, 0);
}


/* Boutons retour */
.btn-retour {
    -fx-background-color: transparent;
}

/* Images boutons retour*/
.img-retour{
    -fx-effect: dropshadow(gaussian, rgb(255, 255, 255),3.1, 1, 0, 0);
    
}

/* ==================== IDs ==================== */

/* Style du titre Nurikabe */
#titre-nurikabe .text{
    /* Backup*/
    /*-fx-fill: #ffffff;
    -fx-stroke: #000000;
    -fx-stroke-width: 2px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,1), 20, 0, 3, 3);
    */
    
    -fx-fill: linear-gradient(from 13px 38px to 52px 52px, reflect,  #eb6f16, #ffc04b 100%);
    -fx-stroke: #ffee00;
    -fx-stroke-width: 3px;
    -fx-effect: dropshadow(three-pass-box, rgb(241, 205, 0), 7, 0.7, 4, 4);
    
}
