/* ==================== Classes ==================== */

/* Gros boutons de sélection d'un menu */
.btn-principal {

    /* OLD */
    /* -fx-background-color: #ffffff;
    -fx-border-color: #000000;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-border-width: 3; */

    /* GRADIENT */
    -fx-font-size: 25px;
    -fx-font-weight: bold;
    -fx-background-color: #ffffff;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-border-width: 4px;
    -fx-border-color: black;
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 1), 60, 0, 0, 0);
}

/* Style du bouton lorsqu'il est survolé */
.btn-principal:hover {
    -fx-background-color: #c4c4c4;
}

/* Style du bouton lorsqu'il est pressé */
.btn-principal:pressed {
    -fx-background-color: #bfffa9;
}


/* Boutons de sélection de niveau */
.btn-niveau {}


/* Boutons d'accès aux scores (trophée) */
.btn-trophee {}


/* Boutons retour */
.btn-retour {
    -fx-background-color: #ffffff;
    -fx-background-radius: 10;
}

<<<<<<< HEAD
=======

/* Style du titre Nurikabe */
#titre-nurikabe {
    -fx-text-fill: #363684;
    -fx-font-weight: bold;
}

>>>>>>> 26f368cc8c16dfc6bdfaa4f08dd3bbc5085f319f
/* ==================== IDs ==================== */

/* Style du titre Nurikabe */
#titre-nurikabe {
    -fx-text-fill: #363684;
    -fx-font-weight: bold;
}