/* ==================== Classes ==================== */

/* Style partagé par toutes les cases */
.case {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 0;
    -fx-padding: -999; /* Retirer totalement le padding */
    -fx-border-color: white;
    -fx-border-width: 1.5px;
}

/* Case numérique */
.case-numerique {

}

/* Case blanche */
.case-blanche {

}

/* Case noire */
.case-noire {
    -fx-background-color: linear-gradient(from 13px 38px to 52px 100px, reflect,  #eeff00, #ff8b48 100%);
}

/* Case point */
.case-point {

}

/* Case mise en surbrillance */
.surbrillance {
    -fx-effect: innershadow(gaussian, rgb(255, 200, 0), 40, 0.1, 0, 0);
}

.toolBar{
    /*-fx-background-color: #ffffff;*/
    -fx-background-color: radial-gradient(focus-distance 0% , center 0% 0% , radius 0% , #fcec91,rgb(255, 213, 63));
    -fx-effect: innershadow(three-pass-box, rgb(255, 234, 0), 5, 1, 0, 0);
    -fx-border-color: linear-gradient(from 13px 38px to 52px 52px, reflect,  #ff832b, #ffba39 100%);
    -fx-border-style: solid inside;
    -fx-border-width: 10px 10px 10px 10px;

}
.toolBar Button{
    -fx-background-color: #ffffff;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-border-width: 2px;
    -fx-border-color: #ffae00;
    -fx-effect: dropshadow(three-pass-box, rgb(207, 142, 0), 1, 0.8, 3, 1.5);

}

.toolBar Button:hover{
    -fx-background-color: #ffd256;

}

.toolBar Button:pressed {
    -fx-background-color: #fffc5c;
}

.score
{
    -fx-background-color: radial-gradient(focus-distance 0% , center 0% 0% , radius 0% , #ffffff,rgb(255, 255, 255));
    -fx-background-radius: 10px;
    -fx-border-color: rgb(255, 153, 0);/*linear-gradient(from 13px 38px to 52px 52px, reflect,  #fff200, #ffd000 100%);*/
    -fx-border-style: solid outside;
    -fx-border-radius: 10px;
    -fx-border-width: 1px 1px 1px 1px;
    /*-fx-effect: dropshadow(three-pass-box, rgb(246, 255, 0), 2, 1, 0, 0);
    -fx-border-color: linear-gradient(from 13px 38px to 52px 52px, reflect,  #fff200, #ffd000 100%);
    -fx-border-style: solid outside;
    -fx-border-radius: 10px;
    -fx-border-width: 2px 0px 2px 0px;*/
}

.score-text .text
{
    -fx-font-size: 20pt ;
    -fx-font-weight:bold;
    -fx-fill: white;
    -fx-stroke: #ffbb00;
    -fx-stroke-width: 1.5px;
    -fx-effect: dropshadow(three-pass-box, rgb(241, 124, 46), 2, 0.8, 0, 2);
}

.btn-toggle-aide
{
    -fx-background-color: white;
    -fx-background-radius: 0 0 100% 100%;
    -fx-border-color: rgb(255, 153, 0);
    -fx-border-style: solid outside;
    -fx-border-radius: 0px 0px 20px 20px;
    -fx-border-width: 0px 2px 2px 2px;
}

.btn-toggle-aide:hover
{
    -fx-background-color: rgb(255, 223, 133);
    
}

.panneau-aide
{
    -fx-background-color : white;
    -fx-background-radius: 0 0 20px 20px;
    -fx-border-color: rgb(255, 153, 0);
    -fx-border-style: solid outside;
    -fx-border-radius: 0px 0px 20px 20px;
    -fx-border-width: 0px 2px 2px 2px;
}

/* Bouton d'affichage des posiitions des aides */
.btn-aff-pos {
    -fx-background-color : white;
    -fx-background-radius: 20px;
    -fx-border-color: rgb(255, 153, 0);
    -fx-border-style: solid outside;
    -fx-border-radius: 20px;
    -fx-border-width: 2px;
}

.btn-aff-pos:hover
{
    -fx-background-color: rgb(255, 223, 133);
}


.alert {
    -fx-background-color: linear-gradient(from 13px 38px to 52px 100px, reflect,  rgb(255, 203, 91), #ffbe47 100%);
    -fx-font-size: 14px;
}

.alert:header *.header-panel{
    -fx-background-color: linear-gradient(from 13px 38px to 52px 100px, reflect,  rgb(255, 203, 91), #ffbe47 100%);/*#ffe552;*/
}

.alert .dialog-pane .content {
    -fx-text-fill: #333333;
    -fx-font-weight: bold;
}

.alert .button-bar .button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-border-width:5px;
    -fx-border-color:rgb(255, 255, 255);
    -fx-effect: dropshadow(three-pass-box, rgb(7, 121, 3),3, 0, 5, 5);
}

.alert .button-bar .button:hover {
    -fx-background-color: #43A047;
}

/* ==================== IDs ==================== */
