/* ==================== Classes ==================== */

/* Style partagé par toutes les cases */
.case {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 0;
    -fx-padding: -999; /* Retirer totalement le padding */
}

/* Case numérique */
.case-numerique {

}

/* Case blanche */
.case-blanche {
    
}

/* Case noire */
.case-noire {
    -fx-background-color: #000000;
}

/* Case point */
.case-point {

}

/* Case mise en surbrillance */
.surbrillance {
    -fx-effect: innershadow(gaussian, rgb(255, 200, 0), 40, 0.1, 0, 0);
}

.toolBar{
    -fx-background-color: #ffffff;
    -fx-background-color: radial-gradient(focus-distance 0% , center 50% 50% , radius 75% , #ffffff, #ffe2b7);
    -fx-effect: innershadow(three-pass-box, rgb(255, 255, 255), 5, 1, 0, 0);
    /*-fx-border-color: rgb(226, 0, 0);
    -fx-border-style: solid inside;
    -fx-border-width: 1px 1px 1px 1px;*/
    -fx-cursor: hand;
}
.toolBar Button{
    -fx-background-color: #ffffff;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-border-width: 2px;
    -fx-border-color: #ffae00;
    -fx-effect: innershadow(gaussian, rgb(255, 0, 0) 28, 1, 0, 0);
    

}


/* ==================== IDs ==================== */